/* MovieDetails.css */
.movie-details {
    text-align: center;
    font-family: Arial, sans-serif;
    padding: 150px;
  }
  
  .movie-details h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
  }
  
  .movie-details p {
    font-size: 1.2em;
    margin-bottom: 40px;
  }
  
  .book-seat-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
  }
  
  .book-seat-button:hover {
    background-color: #0056b3;
  }
  